{% extends "base.html" %} 
{% block page %}<span class="current-page-head">| Submit</span>{% endblock %}    

{% block content %}

<form role="form" method="post">
  <div class="form-group">
    <label for="subject">Subject</label>
    <textarea class="form-control subject-box" name=subject id="subject" placeholder={{error}}>{{blog_title}}</textarea>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" id="content" name="content">{{blog_entry}}</textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}

